[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:lessthanseventy/launch_scout.nvim
[submodule "hyprland/.config/hypr"]
	path = hyprland/.config/hypr
	url = git@github.com:lessthanseventy/mission_control
